/* landing.css */

#landing-page {
  font-family: "Quicksand", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  transition: opacity 0.5s ease;
  background: #6d9773;
  background: radial-gradient(
    circle,
    rgba(109, 151, 115, 1) 40%,
    rgba(247, 218, 136, 1) 62%
  );
  animation: fadeIn 1.2s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#landing-page h1,
#landing-page p,
#enter-btn {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideUp 1s ease forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#landing-page .content .content-title {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

#landing-page.hidden {
  opacity: 0;
  pointer-events: none;
}

#landing-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

#landing-page p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

button#enter-btn {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  animation-delay: 0.9s;
  transition: transform 0.3s ease;
}

button#enter-btn:hover {
  background-color: #135c47;
  transform: scale(1.05);
}
